body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Social Media Links Styles */
.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
}

.social-media-links a {
  color: white;
  text-decoration: none;
  font-size: 3vw;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.social-media-links a:hover {
  color: #f00; /* Changes to red on hover */
}

/* Logo Section Styles */
.logo-section {
  text-align: center;
  margin: 10px 0; /* Adds space around the logo */
}

.logo {
  max-width: 80%; /* Adjust the logo size */
  height: auto;
}

/* GIF Banner Styles */
.gif-banner {
    position: relative; /* Allows absolute positioning of titles */
    overflow: hidden; /* Ensures no overflow outside the banner */
}

.gif-banner img {
   width: 100%; height: 180px; object-fit: cover;
    display: block; /* Prevents space below the image */
}


.pillboxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    height: auto;
    width: auto;
    background-image: url('../images/background.jpeg'); /* Path to your background image */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
      
}
 

.pillbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 110%;
    min-width: 260px;
    background-color:rgba(0, 0, 0, 0.67);
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.87);    
}

.pillbox img {
    max-width: 70%; /* Icon size */
    height: 120px;
    object-fit: cover;
    padding-left: 2%;
    border-radius: 5%; /* Makes the image circular */
}

.photo-title {
    color: #ffffff;
    align-items: center;
    white-space: nowrap; /* Prevents text from wrapping */
    font-family: 'Bebas Neue'; /* Set to Montserrat */
    font-size: 5vw;
    padding-left: 4%;
}
